<form method="post" [formGroup]="rForm" (ngSubmit)="onSubmit()" role="form">

  <div class="row">
    <div class="col-md-8 offset-md-2">
     
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="name">Nova quadra</label>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-6">
            <img src="{{ urlImg + path }}" alt="image thumbnail" class="img-thumbnail" *ngIf="path != null; else other"
              style="max-width: 150px">
            <ng-template #other>
              <img src="./../../../../assets/thumbpalceholder.png" style="max-width: 150px">
            </ng-template>
          </div>
          <div class="col">
            <label for="name">Imagem da quadra</label><br>
            <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
            <button type="button" class="btn btn-outline-secondary" (click)="file.click()">Upload de arquivo</button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Nome">
      </div>

      <div class="form-group">
        <label for="group">Grupo</label>
        <select class="custom-select" (change)="changeGroup($event)" formControlName="group">
          <option value="">Selecione o grupo</option>
          <option *ngFor="let item of group" [value]="item.groupName">{{ item.groupName }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="name">Preço</label>
        <input type="number" class="form-control" formControlName="price" placeholder="Preço">
      </div>

      <div class="form-group">
        <label for="name">Descrição</label>
        <textarea type="text" class="form-control" formControlName="description" placeholder="Descrição"></textarea>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-secondary col-md-12" (click)="backClicked()">Voltar</button>
          </div>
          <div class="col">
            <button type="submit" class="btn btn-success col-md-12" [disabled]="!rForm.valid">Criar</button>
          </div>        
        </div>
      </div>

    </div>
  </div>
</form>