/* You can add global styles to this file, and also import other style files */
#confirm
{
   display: none;
   background-color: #91FF00;
   border: 1px solid #aaa;
   position: fixed;
   width: 250px;
   left: 50%;
   margin-left: -100px;
   padding: 6px 8px 8px;
   box-sizing: border-box;
   text-align: center;
}
#confirm button {
   background-color: #48E5DA;
   display: inline-block;
   border-radius: 5px;
   border: 1px solid #aaa;
   padding: 5px;
   text-align: center;
   width: 100px;
   cursor: pointer;
}